.entities-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.first-section {
    width: 30%;
}

.entities-section {
    width: 40%;
}

.statistics-section {
    width: 30%;
}

.entity-card {
    color: white;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    transform: none !important;
}

.entity-image {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2px;
    background-color: white;
}

.entity-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.entity-position {
    margin: 5px 0;
    font-size: 16px;
}

.entity-container {
    display: flex;
    flex-direction: row;
}

.entity-details-first-part {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.entity-details-second-part {
    display: flex;
    flex-direction: column;
}

.entity-details {
    display: flex;
    flex-direction: row;
    background-color: #002B7F;
    border-radius: 8px 8px 0 0;
}

.political-party-details {
    display: flex;
    flex-direction: row;
    background-color: #CE1126;
    border-radius: 8px 8px 0 0;
}

.city-details{
    background-color: #FCD116;
}

.source-details{
    background-color: #995a3e;
}
/*Buttons*/

.button-container {
    display: flex;
    gap: 10px; /* Adjust the gap between buttons as needed */
  }
  
  .profile-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px; /* Adjust button width as needed */
    height: 45px; /* Adjust button height as needed */
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden; /* Ensures that the tooltip text is hidden when not visible */
    transition: background-color 0.3s;
  }
  
  .follow-button {
    background-color: #0ebb19; /* Red */
  }
  
  .unfollow-button {
    background-color: #ffcc66; /* Yellow */
  }
  
  .hide-button {
    background-color: #f11111; /* Blue */
  }
  
  .profile-button-large {
    background-color: #ceb919; /* Green */
    width: 125px;
  }
  
  .profile-button svg {
    fill: white;
  }
  
  .profile-button:hover {
    opacity: 0.8;
  }
  
  .profile-button:active {
    opacity: 0.6;
  }
  
  .profile-button:focus {
    outline: none;
  }
  
  .tooltip-text {
    position: absolute;
    bottom: -30px; /* Adjust position as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s, bottom 0.3s;
  }
  
  .profile-button:hover .tooltip-text {
    opacity: 1;
    bottom: -40px; /* Adjust position as needed */
  }  

/*Articles*/

.article-link-entity {
    text-decoration: none;
    color: black;
}

.article-card-entity {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    align-items: center;
}

.article-card-entity.last-article {
    border-bottom-left-radius: 8px; 
    border-bottom-right-radius: 8px; 
}

.article-card-entity.positive {
    background-color: #4caf50;
}

.article-card-entity.negative {
    background-color: #f44336;
}

.article-card-entity.neutral {
    background-color: #9e9e9e;
}

.article-image-div-entity {
    width: 15%;
    height: auto;
    padding: 5px;
}

.article-image-entity {
    width: 100%;
    height: 4rem;
    object-fit: cover;
}

.article-details-div-entity {
    padding: 5px;
    width: 85%;
}

.article-text-entity {
    margin: 0;
    font-size: 14px;
    text-align: left;
    font-weight: 550;
}


.published-date-entity-span{
    font-style: italic;
    font-weight: normal;
}


  
  