.interests-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.interests-content {
    display: flex;
    flex-direction: row;
}

.first-part-favorite {
    margin-top: 1rem;
    width: 30%;
    text-align: left;
}

.favorites-columns{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.second-part-favorite{
    width: 53%;
    margin: 1rem 1.25% 0 1.25%;
  }
  
  .third-part-favorite{
    width: 47%;
    margin-right: 1.25%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-top: 7rem;
  }

.no-favorites-part {
    width: 100%;
    height: 90vh;
    text-align: center;
    margin-top: 20px;
  }

  .suggestions-text-favorite{
    font-size: 20px;
  }
  
  .suggestions-list-favorites {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .suggestions-entity-favorites {
    margin: 10px;
    padding: 10px;
    width: 200px;
    transition: background 0.3s ease;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .suggestion-link-favorites{
    text-decoration: none;
    color: black;
  }
  
  .suggestions-entity-favorites:hover {
    background: #f0f0f0;
    transform: scale(1.05);
  }
  
  .suggestions-list-image-favorite {
    width: 100%;
    height: 10rem;
    border-radius: 5px;
    margin-bottom: 10px;
    object-fit:fill;
  }
  
  .suggestions-entity-favorites span {
    display: block;
    margin-bottom: 10px;
  }
  
  .follow-button-suggestions-favorite {
    background-color: #0ebb19;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width:fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size:medium;
  }

  .follow-button-suggestions-favorite.add {
    background-color: #0ebb19;
}

.follow-button-suggestions-favorite.remove {
    background-color: red;
}

.follow-button-suggestions-favorite:hover {
    background-color: #0b9314;
}

.follow-button-suggestions-favorite.remove:hover {
    background-color: darkred;
}

.favorites-text {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.interests-list {
    list-style-type: none;
    padding: 0;
    margin: 0;

}

.favorite-category {
    margin-bottom: 20px;
}

.favorite-category h3 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.favorite-entity {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.favorite-entity:hover {
    background-color: #f0f0f0;
}

.remove-button {
    position: absolute;
    right: 10px;
    background: none;
    border: none;
    cursor: pointer;
    display: none;
    transition: transform 0.2s ease-in-out;
}

.remove-button:active{
    transform: scale(1.1);
}

@keyframes shake {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
  }
  
  /* Apply shaking effect on active state */
  .remove-button:active {
    animation: shake 0.5s;
  }

.favorite-entity:hover .remove-button {
    display: block;
}

.remove-svg {
    width: 1.5rem;
}

.alegeri-list-image{
    width: 20%;
}

.article-link-minimized {
    text-decoration: none;
    color: inherit;
}

.article-card-minimized {
    display: flex;
    overflow: hidden;
    margin-bottom: 20px;
    height: 9rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none; /* Ensure links are not underlined */
  }
  
  .article-card-minimized:hover {
    transform: scale(1.03);
  }
  
  .article-card-minimized.positive:hover {
    background-color: #4caf50;
  }
  
  .article-card-minimized.negative:hover {
    background-color: #f44336;
  }
  
  .article-card-minimized.neutral:hover {
    background-color: #9e9e9e;
  }
  
  .article-image-div-minimized {
    flex: 0 0 30%;
    overflow: hidden;
    padding: 10px;
  }
  
  .article-image-minimized {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-details-div-minimized {
    flex: 0 0 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .article-text-minimized {
    margin: 0;
    font-size: 15px;
    text-align: left;
  }
  
  .article-date-and-source {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .article-source-image-minimized {
    flex-shrink: 0; /* Ensure the source image does not grow beyond its size */
  }
  
  .source-icon-minimized {
    width: 3.5rem;
    height: auto;
  }
  



/*NOT LOGGED IN*/

.not-logged-in {
    display: flex;
    flex-direction: row;
    background-color: #f9f9f9; /* Optional: Add a background color */
    justify-content: center;
}

.redirect-to-login-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
    border-radius: 10px; /* Optional: Add rounded corners */
    background-color: #fff; /* Optional: Add background color to the div */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for a nicer look */
    width: 50%;
    margin: 3rem;
}

.small-div{
    text-align: center;
}

.custom-hr {
    border: none;
    border-top: 2px solid black;
    width: 85%;
    margin: 20px auto;
  }
  

.redirect-to-login-div h1 {
    margin-bottom: 20px; /* Add some space below the heading */
}

.login-link {
    text-decoration: none;
}

.login-link h2 {
    color: #04248c; /* Change text color */
    margin: 0;
    transition: color 0.3s; /* Optional: Add transition for hover effect */
}

.login-link h2:hover {
    color: #2a4cbc; /* Change text color on hover */
}

.my-interests-image-div {
    position: relative;
    display: inline-block;
}

.my-interests-image-div img {
    display: block;
    width: 100%; /* Adjust as needed */
    height: auto;
}

.my-interests-image {
    width: 30rem;
    height: 100px; /* Adjust as needed */
    background-color: #04248c; /* Desired color */
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
}

.hidden-content {
    display: none;
  }
  