.politicians-container {
    padding: 20px;
}

.politicians-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.politician-card {
    color: white;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.politician-image {
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 2px;
}

.politician-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.politician-position {
    margin: 5px 0;
    font-size: 16px;
}

.follow-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    width: 80%;
    margin-top: 5px;
}

.follow-button:hover {
    background-color: #0056b3;
}

.first-section{
    width:18%;
}

.statistics-section{
    width:40%;
}

.politicians-section{
    width: 40%;
    margin-right: 2%;
}

.politicians-container{
    display: flex;
    flex-direction: row;
}

.politician-details-first-part{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 10px;
}

.politician-details-second-part{
    display: flex;
    flex-direction: column;
}

.politician-details{
    display: flex;
    flex-direction: row;
    background-color: #152ab8;
    border-radius: 8px 8px 0 0;
}

.profile-statistic-image{
    width: 80%;
}