.home-container{
    margin: 5% 15% 0 15%;
}

.home-first-part{
    display: flex;
}

.home-second-part{
  display: flex;
}

.home-left-side{
    width:57.5%;
    margin-right: 2.5%;
}

.home-right-side{
  width: 45%;
}

.home-page-hr{
  border: none;
    border-top: 2px solid #04248c;
    margin: -3rem 15% 3rem 15%;
}


.article-card {
  margin-top: 1rem;
  padding: 2rem;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Added transform for smoother transition */
  display: flex;
  height: 10rem;
  cursor: pointer;
  border-radius: 0.5rem; /* Added border-radius for rounded corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Added box-shadow for depth */
}

.article-card:hover {
  transform: scale(1.05);
}

.article-card.positive:hover {
  background-color: #4caf50; /* Updated green color */
}

.article-card.negative:hover {
  background-color: #f44336; /* Updated red color */
}

.article-card.neutral:hover {
  background-color: #9e9e9e; /* Updated gray color */
}

.article-link {
  text-decoration: none;
  color: inherit;
}

.article-image-div{
    width: 25%;
    margin-right: 2rem;
}

.article-details-div{
    width: 75%;
}

.article-source-image{
  position: relative; 
  width: 130px;
}

.article-image{
    width:100%;
    height: 10rem;
}

.source-icon {
    width: 6rem;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.source-icon-first-article{
  width: 6rem;
  height: auto;
}

.first-article-image-div {
  position: relative;
  width: 100%; /* Adjust as needed */
  height: auto; /* Adjust as needed */
  overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}

.first-article-image {
  width: 100%;
  height: 25rem;
  display: block; /* Remove any extra space below the image */
}

.first-article-image-div::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Adjust the height of the bar as needed */
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  z-index: 1; /* Ensure it stays above the image */
}

/* Emotion-based colors with gradients */
.first-article-image-div.positive::before {
  background: linear-gradient(to right, rgba(0, 128, 0, 0.5), rgba(0, 128, 0, 0), rgba(0, 128, 0, 0.5));
}

.first-article-image-div.negative::before {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 0, 0, 0), rgba(255, 0, 0, 0.5));
}

.first-article-image-div.neutral::before {
  background: linear-gradient(to right, rgba(128, 128, 128, 0.5), rgba(128, 128, 128, 0), rgba(128, 128, 128, 0.5));
}


.small-article-image-div{
    width: 30%;
}

.small-article-image{
    width: 100%;
    height: 5rem;
}

.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-animation {
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid #04248c; /* Blue */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.first-article-details-div{
  display: flex;
  flex-direction: column;
}

.first-article-source-icon{
  width: 6rem;
}


/*PAGINATION*/

.pagination {
    margin: 5% 2% 5% 2%;
  }
  
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination-link {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    border-radius: 4px;
    color: #333;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .pagination-link:hover {
    background-color: #f1f1f1;
  }
  
  .pagination-link-current {
    background-color: #04248c;
    color: #fff;
  }
  
  .pagination-link-prev,
  .pagination-link-next {
    padding: 8px 12px;
    border: 1px solid #ccc;
  }
  
  .pagination-link-prev:hover,
  .pagination-link-next:hover {
    background-color: #f1f1f1;
  }
  
  .pagination-link-prev svg,
  .pagination-link-next svg {
    width: 20px;
    height: 20px;
    fill: #666;
  }
  
  .col-center {
    text-align: center;
  }
  
  .col-end {
    text-align: right;
  }
